* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "SF pro";
  src: url("./assets/SF-Pro-Display-Regular.otf");
}

@font-face {
  font-family: "Linux Libertine";
  src: url("./assets/Linux-Libertine.ttf");
}

body {
  color: white;
  font-family: "SF Pro", Arial, Helvetica, sans-serif;
}

#root {
  height: 100vh;
}

.header {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.25) 25%,
    rgba(0, 0, 0, 0.15) 50%,
    rgba(0, 0, 0, 0.05) 75%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 100px;
  width: 100%;
  z-index: 1000;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header > h1 {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Linux Libertine";
}

.log-in-button {
  border: 1px solid white;
  border-radius: 25px;
  margin-top: -28px;
  margin-right: 20px;
  padding: 2px 10px;
  backdrop-filter: blur(10px);
}

.card-stream {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.card {
  height: 100%;
  scroll-snap-align: start;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.card-text {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 20px;
  backdrop-filter: blur(10px);
  margin: 0px 15px 15px 15px;
}

.card-title {
  font-size: 35px;
}

.card-link,
.card-ai-button {
  padding: 5px 15px;
  border: 1px solid white;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.arrow-svg {
  height: 14px;
}

.sparkle-svg {
  height: 19px;
}

.card-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.observer {
  height: 1px;
  width: 1px;
}
